%nav.navbar.is-fixed-top(role="navigation" aria-label="main navigation")
  .container
    .navbar-brand
      %a.navbar-item(href="/")
        = image_tag 'codeando-green-logo.png', class: 'logo'

      %button.button.navbar-burger
        %span
        %span
        %span

    .navbar-menu
      .navbar-end
        .navbar-item
          - if user_signed_in? && current_user.admin
            = link_to root_path do
              = fa_icon 'cog'
        .navbar-item
          - if user_signed_in?
            = link_to 'Salir', destroy_user_session_path, method: :delete
          - else
            = link_to 'Ingresar', new_user_session_path
