%nav.navbar.navbar-codeando.is-fixed-top(role="navigation" aria-label="main navigation")
  .container
    .navbar-brand
      %a.navbar-item(href="/")
        = image_tag 'codeando-green-logo.png', class: 'logo'
      %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "menu", :role => "button"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
    #menu.navbar-menu
      .navbar-end
        .navbar-item
          - if user_signed_in? && current_user.admin
            = link_to admin_path do
              = fa_icon 'wrench'
        .navbar-item
          = link_to 'Home', root_path
        .navbar-item
          = link_to 'Blog', blog_page_path
        .navbar-item
          = link_to 'Tutorials', tutorials_page_path
        .navbar-item
          = link_to 'About me', '/pages/about'
        .navbar-item
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete do
              = fa_icon 'sign-out'
          -# - else
          -#   = link_to 'Login', new_user_session_path
