!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %title Codeando Admin
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon"
  %body
    #admin-app
      = render 'shared/admin_header'
      %section.main-content.columns.is-fullheight
        = render 'shared/admin_sidebar'
        .container.column.is-10
          .section
            = render 'shared/flash_messages'
            = yield
