!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tweety
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .hero.sessions-container
      .hero-body
        .columns
          .column.is-half.is-offset-one-quarter
            .has-text-centered
              = link_to root_path do
                = image_tag 'codeando-green-logo.png', class: 'logo'
            .card
              .card-content
                = yield
